.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1800px;
  max-width: 2400px;
  padding: 15px;
  label {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin: 15px 30px;
    font-weight: 500;
    select {
      background-color: $white;
      width: 200px;
      height: 35px;
      margin-top: 5px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 5px;
      border: 1.6px solid rgba(56, 55, 55, 0.3);
      padding-left: 5px;
      transition: all 0.2s;
      &:focus {
        outline: none;
        border-color: #71acdd;
        box-shadow: 0 0px 7px #9ecaed;
      }
      &:hover {
        border-color: #71acdd;
        box-shadow: 0 0px 7px #9ecaed;
      }
    }
    input {
      @extend select
    }
    
    input[type="number"] {
      height: 32px;
      border-radius: 4px;
      position: relative;
      text-align: center;
      font-size: 16px;
      width: 140px;
      outline: none;
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
      caret-color: transparent;
    }
    
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      opacity: 1 !important;
      background: transparent !important;
      border-width: 0px;
      margin: 0;
      border-left: 1px solid #d8d8d8;
      height: 34px;
      width: 23px;
      cursor: pointer;
    }

  }
  .search {
    color: $white;
    background-color: $sucess;
    font-size: 17px;
    padding: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s;
    &:focus {
      outline: none;
      border-color: $sucess;
      box-shadow: 0 0px 4px $sucess;
    }
    &:hover {
      opacity: 0.8;
      border-color: $sucess;
      box-shadow: 0 0px 4px $sucess;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .filter-container {
    min-width: 1400px;
    max-width: 2000px;
    label {
      select {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .filter-container {
    min-width: 0px;
    max-width: 2000px;
    label {
      margin: 13px 30px;
      select {
        width: 120px;
      }
    }
  }
}

